{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}

{% set numFi=0 %}
{% set numO=0 %}

<a href="{{ path('LamMdlBundle_formationsport') }}"> Retour </a>

{% for unContenu in contenuformationsport %}

{% set nom=asset('bundles/LamMdl/images/' ~ unContenu.Logo )%}



    <p><img src="{{ nom }}" alt="logo" width="130" height="100" /> <h2>Nom de la formation : </h2>{{  unContenu.Titre }} </p>
       <p> <h3>Objectif : </h3>{{  unContenu.Objectif }} </p>
 <h3>Nombre de places : {{  unContenu.nbPlace }} </h3>


                  
	{% endfor %}


{% endblock %}
