{% extends 'LamMdlBundle::layout.html.twig' %}

{% block body %}

{% set nb=1 %}

<h1>Les stages organisés pour la formation '{{ laF.Titre }}' sont:  </h1>




  {% for unS in lesStages %}

<a href="{{ path('LamMdlBundle_formationinformatique') }}"> Retour </a>

     <h2>Stage {{nb}}</h2>
      Date: {{ unS.Date|date('d-m-Y') }}</br>
             Horaire:  {{ unS.Horaire }}</br>       
            Date limite d'inscription: {{ unS.DateLimite|date('d-m-Y') }}</br>             
             Salle: {{ unS.Salle }}</br>
          Adresse: {{ unS.Adresse }}</br>
        Coût: {{ unS.Cout }}</br>
        Repas: {{ unS.Repas }}</br>
     

        {% set nbi=  (unS.lesIntervenants|length)%}
        {% if nbi>1  %}
        <p>Les intervenants :</p>
            {% else %}
        <p>L'intervenant :</p>
            {% endif %}
                
        {% for unI in unS.lesIntervenants %}
        <h3>- {{ unI.Prenom }} {{ unI.Nom }}</h3>
      {% endfor %}
  {% set nb=nb+1 %}
  {% endfor %}


{% endblock %}
